<mat-card class="form-container">
    <div class="title">
        <h1>Registro de vacinação</h1>
    </div>
    <form [formGroup]="vacinacao_form">
        <mat-form-field appearance="fill">
            <mat-label>Quantidade</mat-label>
            <input matInput type="number" min="1" formControlName="quantidade" name="quantidade">
            <mat-error *ngIf="submited">Este campo não pode ser vazio</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Espécie</mat-label>
            <mat-select formControlName="id_especie">
              <mat-option *ngFor="let especie of especies" value="{{especie.id}}">{{especie.descricao}}</mat-option>
            </mat-select>
            <mat-error *ngIf="submited">Este campo não pode ser vazio</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Propriedade</mat-label>
            <mat-select formControlName="id_propriedade">
              <mat-option *ngFor="let propriedade of propriedades" value="{{propriedade.id}}">{{propriedade.nome}}</mat-option>
            </mat-select>
            <mat-error *ngIf="submited">Este campo não pode ser vazio</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Vacina</mat-label>
            <mat-select formControlName="id_vacina">
              <mat-option *ngFor="let vacina of vacinas" value="{{vacina.id}}">{{vacina.descricao}}</mat-option>
            </mat-select>
            <mat-error *ngIf="submited">Este campo não pode ser vazio</mat-error>
        </mat-form-field>
        <div class="button-group">
            <button class="bgRed" mat-button (click)="cancel()">Cancelar</button>
            <button type="submit" class="bgGreen" mat-button (click)="submit()">Cadastrar</button>
        </div>
    </form>
</mat-card>
