<div class="info-container">
    <mat-card>
        <div class="title">
            <h1>Informações da propriedade</h1>
        </div>
        <div class="info-section">
            <div class="section">
                <ul>
                    <li>
                        Nome: {{propriedade.nome}}
                    </li>
                    <li>
                        Inscrição estadual: {{propriedade.inscricao_estadual}}
                    </li>
                    <li>
                        Município: {{(municipio | async)?.descricao}}
                    </li>
                    <li>
                        Produtor: {{(produtor | async)?.nome}}
                    </li>
                </ul>
            </div>
        </div>
    </mat-card>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Animais">
            <mat-list role="list">
                <mat-list-item role ="listitem" *ngFor="let rebanho of rebanhos">
                    <strong>Quantidade: </strong>{{rebanho.quantidade}} | <strong>Espécie: </strong> {{rebanho.especie}}
                </mat-list-item>
            </mat-list>
            <span *ngIf="rebanhos.length == 0">Sem rebanhos registrados</span>
        </mat-tab>
        <mat-tab label="Registros de vacinação">
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let vacinacao of vacinacoes">
                    <strong>Data: </strong>{{vacinacao.data_vacina | date}} | <strong>Espécie: </strong>{{vacinacao.especie}} | <strong>Quantidade: </strong>{{vacinacao.quantidade}}
                </mat-list-item>
            </mat-list>
            <span *ngIf="vacinacoes.length == 0">Sem vacinações registrados</span>
        </mat-tab>
    </mat-tab-group>
</div>
