.page {
    min-height: 100%;
    display: flex;
}

.nav {
    width: 270px;
    height: inherit;
    max-height: inherit;
    background-color: #258336;
    color: #fff;
    padding: 1rem .5rem;
    margin-right: 2rem;
}

.content {
    padding: 2rem;
    width: 800px;
}

