<mat-card>
    <div class="title">
        <h1>Informações do registro</h1>
    </div>
    <div class="info-section">
        <div class="section">
            <ul *ngIf="venda">
                <li>
                    Data da venda: {{venda.data_venda | date}}
                </li>
                <li>
                    Quantidade de animais: {{venda.quantidade}}
                </li>
                <li>
                    Espécie: {{venda.especie}}
                </li>
                <li>
                    Propriedade de origem: {{venda.propriedade_origem}}
                </li>
                <li *ngIf="propriedade_destino">
                    Propriedade de destino: {{propriedade_destino}}
                </li>
                <li>
                    Motivo da venda: {{venda.motivo}}
                </li>
            </ul>
        </div>
    </div>
</mat-card>
