<mat-card>
    <div class="title">
        <h1>Informações do registro</h1>
    </div>
    <div class="info-section">
        <div class="section">
            <ul>
                <li>
                    Data da venda: {{venda.data_venda}}
                </li>
                <li>
                    Quantidade de animais: {{venda.quantidade}}
                </li>
                <li>
                    Espécie: {{venda.id_especie}}
                </li>
                <li>
                    Propriedade de origem: {{venda.id_propriedade_origem}}
                </li>
                <li>
                    Propriedade de destino: {{venda.id_propriedade_destino}}
                </li>
                <li>
                    Motivo da venda: {{venda.motivo}}
                </li>
            </ul>
        </div>
    </div>
</mat-card>
