<div class="informativo">
    <div class="img">
        <img src="/assets/img/banner.jpg" alt="banner da iagro">
    </div>
    <h1 class="mat-display-1 title" style="font-weight: 290;">Bem-vindo ao sistema gerenciador de bovídeos da IAGRO</h1>
    <div class="descricao-iagro">
        <p>
            Criada pelo Decreto-Lei nº 9, de 1º de janeiro de 1979, sob a denominação de Departamento de Inspeção e Defesa
            Agropecuária de Mato Grosso do Sul (IAGRO), pela Lei nº 2.152, de 26 de outubro de 2000 recebeu a atual
            denominação: Agência Estadual de Defesa Sanitária Animal e Vegetal (IAGRO).
        </p>

        <p>
            A IAGRO é uma autarquia, com sede e foro na Capital do Estado, vinculada à Secretaria de Estado de Meio
            Ambiente, Desenvolvimento Econômico, Produção e Agricultura Familiar (SEMAGRO) e por ela supervisionada, nos
            termos da Lei nº 4.640, de 24 de dezembro de 2014, e suas alterações, com personalidade jurídica de direito
            público, patrimônio próprio, autonomia técnica, administrativa e financeira, e prazo de duração indeterminado,
            nos termos da lei.
        </p>

        <h3>A Agência Estadual de Defesa Sanitária Animal e Vegetal tem por finalidade:</h3>

        <ol>
            <li>
                <p>
                    Executar políticas públicas de educação, saúde, fiscalização e inspeção para fim de promover, manter e recuperar
                    a sanidade animal e vegetal, a qualidade de seus produtos e subprodutos por meio da defesa sanitária, do
                    controle, da fiscalização e da inspeção dos produtos e subprodutos de origem agropecuária, da fiscalização dos
                    insumos agropecuários e das atividades de biossegurança, para assegurar a saúde humana.
                </p>
            </li>
            <li>
                <p>
                    Cumprir e fazer cumprir as obrigações operacionais delegadas pelo Poder Executivo, de que trata a legislação
                    referente à proteção à saúde dos animais e vegetais e do controle e inspeção de produtos, bens e serviços
                    agropecuários, processos e tecnologias alcançados pelo sistema de atenção à sanidade agropecuária.
                </p>
            </li>
        </ol>

        <p>
            É investida de autoridade de defesa agropecuária do Estado de Mato Grosso do Sul, priorizando a promoção,
            manutenção e recuperação da saúde dos animais e vegetais e dos aspectos qualitativos dos produtos agropecuários
            deles derivados, em especial aos atributos de inocuidade, com atividades preventivas pela qualidade e pela
            defesa dos direitos difusos do consumidor, sendo-lhe assegurada as demais prerrogativas necessárias ao exercício
            adequado de suas atribuições de acordo com o Decreto Nº 15.519, de 14 de outubro de 2020.
        </p>

        <em>Fonte:  </em><a href="https://www.iagro.ms.gov.br/a-iagro/" target="blank">IAGRO</a>
    </div>
</div>