/* You can add global styles to this file, and also import other style files */

* {
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
    text-decoration: none;
    color: #fff;
}

/* Components */

.regular-btn {
    width: wrap;
    align-self: center;
}

.badge {
    padding: 8px;
    border-radius: 3px;
}

/* Colors */

.bgGreen {
    background-color: #28a745;
    color: white;
}

.bgRed {
    background-color: #dc3545;
    color: white;
}

.add {
    color: #28a745;
}

.edit {
    color: #ffc107;
}

.delete {
    color: #dc3545;
}

/* Table styles */

.mat-table {
    width: 100%;
    margin: 2rem 0;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}

.mat-header-cell {
    background-color: #258336;
    color: #fff;
}

.mat-cell {
    color: black;
}

.mat-row {
    background-color: rgb(241, 239, 239);
}

.mat-row:hover .mat-cell{
    border-color: #424242;;
}

/* Icons */

.icons > a:first-child {
    margin-right: 10px;
}

/* Forms */

.mat-card {
    padding: 0 !important; 
}

.mat-form-field {
    margin-bottom: .8rem;
}

.mat-form-field input {
    width: 100px;
}

.form-container {
    padding: 0;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    height: wrap;
}

.form-container > .title {
    background-color: #258336;
    padding: .35rem 0 !important;
    border-radius: inherit;
    color: #fff;
}

.form-container > .title > h1 {
    vertical-align: middle;
}

.form-container > form {
    width: 70%;
    margin: 2.2rem auto !important;
    display: flex;
    flex-direction: column;
}

.form-container .button-group {
    margin-top: 1.45rem;
    margin-bottom: 1rem;
}

.form-container .button-group > button:first-child {
    margin-right: 25px;
}

.search-box > input, .search-box > button {
    height: 50px;
    outline: none;
    margin: 0;
}

.search-box > input {
    padding: 0 5px;
    width: 150px;
}

.search-box > button {
    border-left: none;
    margin-left: -.5px;
    border-radius: 0;
}