/* You can add global styles to this file, and also import other style files */

* {
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body { height: 100%; }
body.mat-typography { margin: 0; 
    font-family: 'Poppins', sans-serif !important;
}

a {
    text-decoration: none;
    color: #fff;
}

i {
    margin-right: 5px;
    padding: 0;
    font-size: 1.4rem;
}

button:hover {
    cursor: pointer;
}

.i {
    margin-right: 5px;
    padding: 0;
    height: 2rem;
    filter: brightness(100%);
}

ul {
    list-style: none;
}

h3 {
    font-weight: bold !important;
}

/* Components */

.regular-btn {
    width: wrap;
    align-self: center;
}

.action-button:hover {
    cursor: pointer;
}

.mat-raised-button {
    margin-bottom: 2rem !important;
}

.badge {
    padding: 8px;
    border-radius: 3px;
}

#span-name {
    display: block;
}

.search-container {
    width: 80%;
    padding: 8px;
    background-color: #258336;
}

.search-container > input, .search-container > button {
    height: 30px;
    outline: none;
    border: none;
    padding: 5px;
}

.search-container button {
    opacity: .7;
}

.search-container button:hover {
    opacity: 1;
}

.hidden {
    display: none;
}

.info-container {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

/* Colors */

.bgGreen {
    background-color: #28a745;
    color: white;
}

.bgRed {
    background-color: #dc3545;
    color: white;
}

.add {
    color: #28a745;
}

.edit {
    color: #ffc107;
}

.delete {
    color: #dc3545;
}

.info {
    color: #0069de;
}

/* Table styles */

.mat-table {
    width: 80%;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    text-align: center;
}

th.mat-header-cell {
    background-color: #258336;
    color: #fff;
    text-align: center !important;
}

.mat-cell {
    color: black;
    text-align: center;
}

.mat-row {
    background-color: rgb(241, 239, 239);
}

.mat-row:hover .mat-cell{
    border-color: #424242;;
}

/* Icons */

.icons > a:first-child {
    margin-right: 10px;
}

/* Forms */

.mat-card {
    padding: 0 !important; 
    min-width: 40%;
    max-width: 40%;
}

.mat-form-field {
    margin-bottom: .8rem;
}

.form-container {
    padding: 0;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    height: wrap;
}

.form-container > .title {
    background-color: #258336;
    padding: .35rem 0 !important;
    border-radius: inherit;
    color: #fff;
}

.title > h1 {
    text-align: center;
    margin: 0;
    padding: 10px;
}

.form-container > form {
    width: 80%;
    margin: 2.2rem auto !important;
    display: flex;
    flex-direction: column;
}

.form-container .button-group {
    margin-top: 1.45rem;
    margin-bottom: 1rem;
}

.form-container .button-group > button:first-child {
    margin-right: 25px;
}

.search-box > input, .search-box > button {
    height: 50px;
    outline: none;
    margin: 0;
}

.search-box > input {
    padding: 0 5px;
    width: 150px;
}

.search-box > button {
    border-left: none;
    margin-left: -.5px;
    border-radius: 0;
}

/* Cards */

.info-section {
    width: 80%;
    margin: 0 auto;
    height: fit-content;
    padding: 2rem;
}

.info-section > .section {
    margin-bottom: 2rem;
}